.button_demo {
  width: 348px;
  height: 60.8px;
  background-color: #055042;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* текст кнопки   */
.buttom_text {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}
