.button_demo {
  width: clamp(320px, 18vw, 348px);
  height: 60.8px;
  background-color: #055042;
  color: white;
  border: none;
  border-radius: clamp(10px, 1.5vw, 20px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* текст кнопки   */
.buttom_text {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: var(--tracking-wide);
  text-transform: uppercase;
}

@media (width <= 375px) {
  .button_demo {
    height: 68px;
  }
}
