@import '../../../assets/styles/_variables.css';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 7%;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 145px;
}

.nav {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--text-black-opacity);
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: 100%;
    letter-spacing: -0.6px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 24px;
  }
}

.divider {
  width: 2px;
  height: 28px;
  background-color: var(--text-white-opacity);
  display: inline-block;

  &.firstDivider {
    margin-left: 40px;
    margin-right: 40px;
  }

  &.secondDivider {
    margin-left: 46px;
    margin-right: 48px;
  }
}

.languageSwitcher {
  display: flex;
  align-items: center;
  .divider {
    margin: 0 8px;
  }
  button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
  }
}

.activeDot {
  width: 23px;
  height: 23px;
  background-color: var(--primary-opacity);
  border-radius: 50%;
  margin-right: 20px;
}

.active {
  color: var(--text-black-opacity);
  font-weight: 400;
  font-family: inherit;
  font-size: inherit;
  line-height: 100%;
  letter-spacing: -0.64px;
  vertical-align: middle;
  text-transform: uppercase;
}

.inactive {
  color: var(--grey-opacity);
  font-weight: 300;
  font-family: inherit;
  font-size: inherit;
  line-height: 100%;
  letter-spacing: -0.64px;
  vertical-align: middle;
  text-transform: uppercase;
}

.mobileControls {
  display: none;
}

@media (max-width: 768px) {
  .header {
    overflow: hidden;
    margin: 0;
    z-index: 998;
    max-width: 360px;
    width: 100%;
    padding: 20px 20px 24px 20px;
    height: 28px;
    background-color: white;
  }

  .nav {
    display: none;
  }

  .activeDot {
    display: none;
  }

  .mobileMenu {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 999;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
    max-width: 360px;
    height: 100vh;
    transition:
      transform 0.3s ease,
      opacity 0.1s ease;
    text-decoration: none;
    overflow-y: auto;
    a {
      text-decoration: none;
      color: var(--text-black-opacity);
      font-weight: 300;
      font-family: 'Inter';
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -8%;
      text-transform: uppercase;
      display: block;
    }
    &.closing {
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  .mobileControls {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .mobileControls {
    display: flex;
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 77px;
  }

  .social_list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 105px;
  }

  .menuLogo {
    font-size: 36px;
    color: var(--primary-opacity);
    margin-bottom: 16px;
  }

  .adress {
    text-transform: none;
  }
}
