.accordion {
  margin-top: -5px;
}

.accordionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  padding: 20px 0 20px 0;
  border-color: #a3a3a3 #ffffff;
  border-width: 0.5px;
  border-style: solid;
}

.accordionItemText {
  color: #4d4d4d;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.accordionItemIcon {
  width: 50px;
  height: 50px;
}
