.accordionItem {
  border-top: 0.5px solid #a3a3a3;
  border-bottom: 0.5px solid #a3a3a3;
  background-color: var(--ui-white);
  transition: border-bottom 0.3s ease;
  margin-top: -5px;
}

.accordionItemOpen {
  border-bottom: none;
}

.accordionItemButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-helvetica);
  text-transform: uppercase;
  font-size: var(--text-m);
  line-height: 28px;
  font-weight: 400;
  background: none;
  border: none;
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
}

.accordionItemButton {
  flex: 1;
  text-align: left;
}

.accordionItemContent {
  overflow: hidden;
  transition: height 0.4s ease;
}

.accordionItemText {
  width: 859px;
  color: var(--text-grey);
  font-family: var(--font-helvetica);
  font-size: var(--text-xs);
  font-weight: 300;
  line-height: 120%;
}

.accordionItemOpen .accordionItemButton {
  padding-bottom: 5px;
}

.accordionItemIcon {
  width: 50px;
  height: 50px;
}

.accordionItemText p {
  margin-top: 0;
  margin-bottom: 25px;
}

.highlight {
  color: (--primary, #055042);
}

/*Значения взяты не из макета. В промежуточном разрешении старница так выглядит дружелюбнее.*/
@media (max-width: 1024px) {
  .accordionItemText {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .accordionItemButton {
    font-size: var(--text-s);
    padding: 16px 0;
  }

  .accordionItemTitle {
    width: 276px;
  }

  .accordionItemIcon {
    width: 24px;
    height: 24px;
  }

  .accordionItemText {
    width: 310px;
  }
}
