@import '../../../assets/styles/_variables.css';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ui-white);
  padding: 30px;
  border-radius: 30px;
  border: 0.5px solid var(--grey-light-opacity);
}

.icon {
  margin: auto 0 0 auto;
  object-fit: contain;
}

.title {
  font-size: var(--text-m);
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-black);
  margin: 0 auto auto 0;
}
