/* вся секция  */
.block {
  width: 1442px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-top: 50px;
}

/* текст xr place  */
.main_title {
  font-family: 'Gotham', sans-serif;
  font-size: 280px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.1em;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(to bottom, #056654 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* контент в блоке   */
.content {
  display: flex;
  gap: 65px;
}

/* левая часть   */
.left_block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 40px;
  width: 342px;
  margin-bottom: 92px;
}

/* текст краткого описания   */
.text {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  color: #444444;
}

/* правая часть   */
.right_block {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

/* лейбл    */
.text_label {
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 22px;
  font-size: 16px;
  color: #c6c6c6;
}

/* 3д картинка   */
.img_label {
  width: 587.2px;
  height: 599.2px;
  background: linear-gradient(
    to bottom,
    #00161d 0%,
    #00161d 60%,
    transparent 100%
  );
  background-position: center;
  background-size: cover;
  margin-left: 243px;
}

/* вертикальная линия    */
.vertical_line {
  position: absolute;
  left: 50%;
  top: 62px;
  width: 2px;
  height: 108%;
  left: 396px;
  background-color: #c6c6c6;
}

/* линия горизонтальная правая   */
.line_right {
  position: absolute;
  top: 307px;
  left: 395px;
  height: 2px;
  width: 59%;
  background-color: #c6c6c6;
}

/* линия горизонтальная левая    */
.line_left {
  position: absolute;
  top: 598px;
  left: -85px;
  height: 2px;
  width: 33.5%;
  background-color: #c6c6c6;
}

/* крест  */
.cross {
  position: absolute;
  top: 574px;
  left: 374px;
  width: 46px;
  height: 50px;
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  background-color: #525252;
}

.cross::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

.cross::after {
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
}

/* уловая стрелка   */
.corner {
  position: relative;
  width: 43px;
  height: 46px;
  top: 517px;
}

.corner::before,
.corner::after {
  content: '';
  position: absolute;
  background-color: #525252;
}

.corner::before {
  width: 2px;
  height: 100%;
  left: -2px;
  top: 0;
}

.corner::after {
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}

/* стрела   */
.corner_arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0px;
  bottom: -5.3px;
  transform: rotate(310deg);
  border-right: 2px solid #535353;
  border-bottom: 2px solid #535353;
}

/* квадрат  с точками    */
.dot_figure {
  position: absolute;
  top: 352px;
  left: 130px;
  width: 108px;
  height: 108px;
  background-image: radial-gradient(#d8d8d8 2.45px, transparent 3.45px);
  background-size: 12px 12px;
  z-index: 1;
}

/* круг с диагональными линиями    */
.diagonal_figure {
  position: absolute;
  top: 736px;
  left: 459px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: repeating-linear-gradient(
    45deg,
    #dfdfdf,
    #dfdfdf 2px,
    transparent 2px,
    transparent 9px
  );
}
