@import '../../../assets/styles/_variables.css';

.footer {
  background: #171717;
  color: var(--ui-white);
  font-family: var(--font-inter);
  width: 100%;
  position: relative;
  overflow: hidden;

  &_desktop {
    @media (max-width: 768px) {
      display: none;
    }

    .footer_content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 100px 0 150px 98px;
      gap: 113px;
    }

    .footer_section {
      h3 {
        text-transform: uppercase;
        font-size: var(--text-m);
        font-weight: 400;
        margin: 0;
      }
    }

    .contacts_section h3 {
      margin-bottom: 16px;
    }

    .menu_section h3 {
      margin-bottom: 20px;
    }

    .social_section h3 {
      margin-bottom: 22px;
    }

    .menu_list {
      font-size: var(--text-xs);
      line-height: var(--leading-dense);
      padding: 0;
      margin: 0;

      li {
        opacity: 0;
        animation: sliderMenu 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;

        &:nth-child(1) {
          animation-delay: 0.2s;
        }
        &:nth-child(2) {
          animation-delay: 0.4s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
        &:nth-child(4) {
          animation-delay: 0.8s;
        }
      }

      li:not(:last-child) {
        padding-bottom: 20px;
      }
    }

    .social_list {
      font-size: var(--text-s);
      line-height: var(--leading-normal);
      font-weight: 300;
      letter-spacing: -0.03em;
      padding: 0;
      margin: 0;

      li {
        padding: 2px 0;

        opacity: 0;
        animation: sliderMenu 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;

        &:nth-child(1) {
          animation-delay: 0.2s;
        }
        &:nth-child(2) {
          animation-delay: 0.4s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
      }

      li:first-child {
        padding-top: 4px;
      }

      li:not(:last-child) {
        padding-bottom: 24px;
      }
    }

    .start_button {
      position: absolute;
      top: 98px;
      right: 100px;

      button {
        text-transform: uppercase;
        font-size: var(--text-m);
        font-family: var(--font-helvetica);
        color: var(--text-grey);
      }

      img {
        width: 13px;
        height: 13px;
        margin-left: 5px;
      }
    }

    .lable {
      position: relative;
      font-size: 242px;
      font-weight: 700;
      background: linear-gradient(
        180deg,
        #04382e 0%,
        #066553 42.3%,
        #087e68 71.8%,
        #0bb696 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 -30px 0;
      left: -63px;
      right: 0;
      line-height: 0.8;
      white-space: nowrap;
      letter-spacing: 4px;
      transform: scaleX(1.2);
      transform-origin: left center;
      z-index: 1;

      opacity: 0;
      animation: dissolution ease forwards;
      animation-delay: 0.5s;
      animation-duration: 5s;
      transform: translateZ(0);
    }
  }

  .footer_section {
    a {
      color: #eee;
      text-decoration: none;
    }
    p {
      color: var(--grey-light-opacity);
      text-transform: none;
      width: 306px;
      letter-spacing: -0.03em;
      align-self: stretch;
      margin: 0;
    }
  }

  .menu_list {
    list-style-type: none;
  }

  .social_list {
    list-style-type: none;
  }

  .start_button {
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .data_cooki_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    z-index: 2;
    position: relative;
    margin-top: -20px;

    p {
      color: var(--grey-opacity);
    }
  }

  .links {
    display: flex;
    gap: 15px;

    a {
      color: var(--grey-opacity);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1140px) {
    .footer_content {
      display: flex;
      flex-direction: column;
    }
  }

  &_mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
      margin-top: 60px;
      margin-left: 40px;
    }

    .mobile_label {
      display: flex;
      gap: 90px;
      margin-bottom: 20px;
    }

    .logo {
      font-size: 36px;
      text-transform: uppercase;

      img {
        padding-right: 9px;
      }
    }

    .start_button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .footer_section:first-child {
      margin-bottom: 52px;
    }

    .menu_list {
      text-transform: uppercase;
      font-size: var(--text-m);
      margin-bottom: 10px;

      li {
        padding-bottom: 20px;
      }
    }
    .social_list {
      display: flex;
      flex-direction: row;
      padding: 0;
      gap: 40px;
      margin-bottom: 40px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .data_cooki_container {
      display: flex;
      p {
        font-size: 12px;
      }
    }

    .links {
      gap: 5px;

      a {
        font-size: 12px;
      }
    }
  }
}

@keyframes dissolution {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sliderMenu {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
