.card {
  width: 930px;
  height: 560px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: calc(100% - 80px);
  object-fit: fill;
  border-radius: 20px;
  border: 1px solid rgba(195, 195, 195, 0.8);
}

.caption {
  padding: 16px 0 0 12px;
  display: flex;
  flex-direction: column;
}

.captionLine1 {
  color: var(--TEXT-grey, #4d4d4d);

  /* text_XL Regular */
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
  letter-spacing: -3.2px;
  text-transform: uppercase;
  margin: 0;
}

.captionLine2 {
  color: var(--TEXT-black, #2d2d2d);

  /* large */
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.54px;
  margin-top: 4px;
}
