.block {
  margin: 0 auto;
  padding: 0 101px 0 99px;
  position: relative;
  overflow: hidden;
  margin-top: 150px;
  margin-bottom: 79px;
}

.FAQContainer {
  margin-top: 40px;
}

.titleContainer {
  display: flex;
  gap: 188px;
  max-width: 924px;
}

/*Значения взяты не из макета. В промежуточном разрешении старница так выглядит дружелюбнее.*/
@media (max-width: 1024px) {
  .block {
    margin-top: 60px;
    margin-bottom: 75px;
    padding: 0 50px 0;
  }

  .titleContainer {
    gap: 50px;
    max-width: 924px;
  }
}

@media (max-width: 768px) {
  .block {
    margin-bottom: 60px;
    padding: 0 25px 0;
  }

  .titleContainer {
    gap: 20px;
  }

  .accordionContainer {
    margin-top: 30px;
  }

  .FAQContainer {
    margin-top: 30px;
  }
}
