@import '../../../assets/styles/_variables.css';

p {
  margin: 0;
}

.businessTeam {
  padding: 150px 0 150px 0;
  max-width: 1280px;
  margin: 0 auto;
  font-family: var(--font-inter);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.desktopLayoutWrapper {
  display: flex;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out 0.4s forwards;
  opacity: 0;
}

.desktopGrid {
  display: flex;
  gap: 24px;
  margin-inline: 305px;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.teamCard {
  width: 400px;
  height: 325px;
  background: #f5f5f5;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: slideDownMask 0.6s ease-in-out forwards;
  opacity: 0;
}

.teamTextBlock {
  margin: 0;
  width: 400px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 140px;
  font: 300 var(--text-s) / var(--leading-normal) var(--font-inter);
  letter-spacing: -0.54px;
  color: var(--text-black-opacity);
  animation: fadeIn 0.6s ease-in-out 0.3s forwards;
  opacity: 0;
}

.closingStatementWrapper {
  width: 400px;
  height: 325px;
  display: flex;
  align-items: flex-end;
  animation: fadeIn 0.6s ease-in-out 0.5s forwards;
  opacity: 0;
  position: relative;
}

.closingStatementText {
  padding-bottom: 11px;
  font: 300 var(--text-s) / var(--leading-normal) var(--font-inter);
  letter-spacing: -0.54px;
  color: var(--text-black-opacity);
  text-align: end;
}

.avatar {
  width: 79px;
  height: 79px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  inset-inline-start: 24px;
}

.avatarRight {
  inset-inline-start: auto;
  inset-inline-end: 24px;
}

.cardDescription {
  position: absolute;
  bottom: 20px;
  inset-inline-start: 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  text-align: start;
}

.cardDescriptionRight {
  bottom: 17px;
  inset-inline-start: auto;
  inset-inline-end: 20px;
  align-items: flex-end;
  text-align: end;
}

.name {
  font: 400 38px/100% var(--font-helvetica);
  letter-spacing: -3.04px;
  color: var(--primary);
  text-transform: uppercase;
}

.role {
  font: 400 var(--text-xs) / var(--leading-normal) var(--font-helvetica);
  color: var(--text-grey);
}

.decor {
  position: absolute;
  opacity: 0.5;
  pointer-events: none;
  display: block;
}

.decorLeftCard {
  bottom: 0;
  inset-inline-end: 0;
  width: 204px;
  height: 189px;
}

.decorRightCard {
  top: 0;
  inset-inline-start: 0;
  width: 265px;
  height: 240px;
}

.decorSquare {
  top: 19px;
  inset-inline-end: 33px;
  width: 50px;
  height: 50px;
}

.decorCircle {
  bottom: 94px;
  inset-inline-start: 29px;
  width: 56px;
  height: 56px;
}

.decorRectangle {
  top: 10px;
  inset-inline-end: 33px;
  width: 31px;
  height: 40px;
}

.mobileLayout {
  display: none;
}

@media (max-width: 768px) {
  .businessTeam {
    padding: 70px 0 32px 0px;
  }

  .desktopLayoutWrapper {
    display: none;
  }

  .mobileLayout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 25px;
  }

  .teamTextBlock {
    width: 310px;
    font: 300 var(--text-xs) / 110% var(--font-inter);
    letter-spacing: -0.48px;
    color: var(--text-black-opacity);
    padding: 0;
  }

  .teamCard {
    width: 310px;
    height: 186px;
    position: relative;
    background: #f5f5f5;
    border-radius: 16px;
  }

  .avatar {
    width: 79px;
    height: 79px;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    inset-inline-start: 15px;
  }

  .cardDescription {
    position: absolute;
    bottom: 22px;
    inset-inline-start: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    text-align: start;
  }

  .name {
    font: 400 20px/100% var(--font-helvetica);
    letter-spacing: -1.6px;
    text-transform: uppercase;
    color: var(--primary);
  }

  .role {
    font: 400 var(--text-xs) / var(--leading-normal) var(--font-helvetica);
    color: var(--text-grey);
  }

  .decor {
    position: absolute;
    opacity: 0.5;
    pointer-events: none;
    display: block;
  }

  .decorLeftCard {
    width: 163px;
    height: 186px;
    bottom: 0;
    inset-inline-end: 0;
  }

  .decorRightCard {
    width: 174px;
    height: 174px;
    top: 0;
    inset-inline-end: 0;
    inset-inline-start: auto;
  }

  .decorRectangle {
    width: 31px;
    height: 40px;
    top: 10px;
    inset-inline-end: 33px;
  }

  .decorCircle {
    width: 41px;
    height: 41px;
    bottom: 0;
    inset-inline-end: 7px;
    inset-inline-start: auto;
  }

  .closingStatementWrapper {
    width: 310px;
    height: 80px;
    align-items: flex-start;
  }

  .closingStatementText {
    font: 300 var(--text-xs) / 110% var(--font-inter);
    letter-spacing: -0.48px;
    color: var(--text-black-opacity);
    text-align: start;
    padding: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpMask {
  0% {
    transform: translateY(100%);
    opacity: 0;
    clip-path: inset(100% 0 0 0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slideDownMask {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
